# Development
.vscode-test/**
coverage/**
node_modules/**
!node_modules/@vscode/codicons/dist/codicon.css
!node_modules/@vscode/codicons/dist/codicon.ttf

# Source files to exclude
**/*.map

# Webview UI build artifacts
webview-ui/node_modules/**

# Keep important directories and files
!.vscode/**
!.github/**
!assets/**
!src/**
!webview-ui/**
!.eslintrc.json
!.gitattributes
!.gitignore
!.nvmrc
!.prettierignore
!.prettierrc.json
!.vscode-test.mjs
!CHANGELOG.md
!LICENSE
!README.md
!esbuild.js
!package.json
!package-lock.json
!tsconfig.json